<%- include("partials/header.ejs") %>
<div class="page-wrapper">
    <h1>User Profile</h1>
<img src="<%= user.image %>">
<%= user.email %> <%= user.lastname %>

</div>


<%- include("partials/footer.ejs") %>
